@model IEnumerable<SchoolSystem.Models.ViewModels.DirectorPanel.DirectorGradeVm>

@{
    ViewBag.Title = "All";
}

<h3>All Subjects</h3>

@foreach (var grade in Model)
{
    <h4>
        @Html.DisplayFor(modelItem => grade.Value)@Html.DisplayFor(modelItem => grade.Class)
    </h4>
    <div>
        @Html.ActionLink("Add subject", "Add", new { id = grade.Id }, null)
    </div>
    <table class="table">
        @foreach (var subject in grade.Subjects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => subject.Name)
                </td>
                <td>
                    @if (subject.Teacher == null)
                    {
                        @Html.ActionLink("Add Teacher", "AddTeacher", new { id = subject.Id }, null)
                    }
                    else
                    {
                        @Html.ActionLink("Edit Teacher", "EditTeacher", new { id = subject.Id }, null)
                    }
                    | @Html.ActionLink("Remove subject", "Remove", new { id = subject.Id }, null)
                </td>
            </tr>
        }
    </table>
}