@model SchoolSystem.Models.ViewModels.SchoolDiary.Subjects.SubjectDetailsVm

@{
    ViewBag.Title = "SubjectDetails";
}

<h2>Subject Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name) for @Html.DisplayFor(model => model.Grade.Value) grade
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to subjects", "All", new { id = Model.Grade.Id })
</p>
