@model SchoolSystem.Models.ViewModels.SchoolDiary.Subjects.SubjectDetailsVm

@{
    ViewBag.Title = "SubjectDetails";
}

<h2 class="text-center">Subject Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name) for @Html.DisplayFor(model => model.Grade.Value)@Html.DisplayFor(model => Model.Grade.Class) grade
        </dd>

        @if (@Model.Teacher != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Teacher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Teacher.User.Name)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Go back", "All", new { id = Model.Grade.Id }, new { @class = "btn btn-sm btn-default go-back-btn" })
</p>
