<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Най-якото училище - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>           
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Най-якото училище", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("За нас", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Училищен дневник", "All", "Grades", new { area = "SchoolDiary" }, null)</li>
                    @if (User.IsInRole("Director"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Директорски панел
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Учители", "All", "Teachers", new { area = "DirectorPanel" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Класове", "All", "Grades", new { area = "DirectorPanel" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Предмети", "All", "Subjects", new { area = "DirectorPanel" }, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Ученици", "All", "Students", new { area = "DirectorPanel" }, null)
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Най-якото училище</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
