@model SchoolSystem.Models.BindingModels.DirectorPanel.Teachers.AddTeacherBm

@{
    ViewBag.Title = "Добави учител";
}

<h2 class="text-center">Добави учител</h2>

@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Добави" class="btn btn-success submit-btn" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "All", "Teachers", new { area = "DirectorPanel" }, new {@class = "btn btn-sm btn-default go-back-btn" })
</div>
