@model SchoolSystem.Models.BindingModels.SchoolDiary.Teachers.AddNoteBm

@{
    ViewBag.Title = "Добави бележка";
}

<h2 class="text-center">Добави бележка</h2>

@using (Html.BeginForm("AddNote", "Teacher", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.TeacherName, new { @class = "form-control hidden", Value = User.Identity.Name })
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-success submit-btn" value="Добави" />
        </div>
    </div>
}

@Html.ActionLink("Назад", "StudentNotes", "Students", null, new { @class = "btn btn-sm btn-default go-back-btn" })