@model IEnumerable<SchoolSystem.Models.ViewModels.SchoolDiary.Students.AllStudentsFromGradeVm>

@{
    ViewBag.Title = "Ученици";
}

@if (Model.Any())
{
    <h2 class="text-center">Учениците в @Html.DisplayFor(model => Model.First().Grade.Value)@Html.DisplayFor(model => Model.First().Grade.Class) клас</h2>
}

<table class="table" id="students-table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>          
            @Html.ActionLink("Информация", "StudentDetails", new { id = item.Id }, new { @class = "btn btn-sm btn-primary student-btn" }) 
            @Html.ActionLink("Оценки", "StudentMarks", new { id = item.Id }, new { @class = "btn btn-sm btn-primary student-btn" })
            @Html.ActionLink("Забележки", "StudentNotes", new { id = item.Id }, new { @class = "btn btn-sm btn-primary student-btn" })
            @Html.ActionLink("Отсъствия", "StudentAbsences", new { id = item.Id }, new { @class = "btn btn-sm btn-primary student-btn" })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Назад", "All", "Grades", null, new { @class = "btn btn-sm btn-default go-back-btn" })