@model SchoolSystem.Models.ViewModels.SchoolDiary.Students.StudentAbsencesVm

@{
    ViewBag.Title = "StudentAbsences";
}

<h2 class="text-center">@Model.Student.Name</h2>

<p class="text-center">
    @Html.DisplayNameFor(model => model.Student.Absences)
    @Html.DisplayFor(model => model.Student.Absences)
    @if (Model.Student.Delays != 0)
    {
        <span>
            and @Html.DisplayFor(model => model.Student.Delays)/3
        </span>
    }
</p>

<br />

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Add Delay", "AddDelay", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-info abs-btn" });
    @Html.ActionLink("Remove Delay", "RemoveDelay", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-danger abs-btn" });
    <br />
    @Html.ActionLink("Add Absence", "AddAbsence", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-info abs-btn" });
    @Html.ActionLink("Remove Absence", "RemoveAbsence", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-danger abs-btn" });
    <br />
}

@Html.ActionLink("Go back", "All", new { id = Model.Student.Grade.Id }, new { @class = "btn btn-sm btn-default go-back-btn" })