@model SchoolSystem.Models.ViewModels.SchoolDiary.Students.NotesForStudentVm

@{
    ViewBag.Title = "Бележките за ученика";
}

<h2 class="text-center">@Html.DisplayFor(model => Model.Student.Name)</h2>

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Добави бележка", "AddNote", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-info add-btn" });
}

<br />

@foreach (var item in Model.Notes) {

    <div id="note" class="card">
        <div class="card-block">
            <h4 class="card-text">@Html.DisplayFor(modelItem => item.Content)</h4>
            <br />
            <span>@Html.DisplayFor(modelItem => item.Teacher.User.Name)</span>
            <br />
            <span>Дата: @Html.DisplayFor(modelItem => item.Date)</span>
        </div>
    </div>
    <br />

}

@Html.ActionLink("Назад", "All", new { id = Model.Student.Grade.Id }, new { @class = "btn btn-sm btn-default go-back-btn" })