@model SchoolSystem.Models.ViewModels.SchoolDiary.Students.MarksForStudentVm

@{
    ViewBag.Title = "Оценките на ученика";
}

<h2 class="text-center">@Html.DisplayFor(model => Model.Student.Name)</h2>

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Добави оценка", "AddMark", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-info add-btn" });
}

<br />

<table class="table">

    @foreach (var item in Model.Marks)
    {
        <tr>
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name) - @Html.DisplayFor(modelItem => item.Value)
                </td>

                <td>
                    @Html.ActionLink("Промени", "EditMark", "Teacher", new { id = item.Id }, new { @class = "btn btn-sm btn-warning edit-mark-btn" })
                </td>
            }
            else
            {
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Subject.Name) - @Html.DisplayFor(modelItem => item.Value)
                </td>
            }
        </tr>
    }

</table>

@Html.ActionLink("Назад", "All", new { id = Model.Student.Grade.Id }, new { @class = "btn btn-sm btn-default go-back-btn" })