@model SchoolSystem.Models.ViewModels.SchoolDiary.Students.StudentAbsencesVm

@{
    ViewBag.Title = "Отсъствията на ученика";
}

<h2 class="text-center">@Model.Student.Name</h2>

<p class="text-center">
    @Html.DisplayName("Отсъствия:")
    @Html.DisplayFor(model => model.Student.Absences)
    @if (Model.Student.Delays != 0)
    {
        <span>
            и @Html.DisplayFor(model => model.Student.Delays)/3
        </span>
    }
</p>

<br />

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Добави закъснение", "AddDelay", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-info abs-btn" });
    @Html.ActionLink("Премахни закъснение", "RemoveDelay", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-danger abs-btn" });
    <br />
    @Html.ActionLink("Добави отсъствие", "AddAbsence", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-info abs-btn" });
    @Html.ActionLink("Премахни отсъствие", "RemoveAbsence", "Teacher", new { id = Model.Student.Id }, new { @class = "btn btn-sm btn-danger abs-btn" });
    <br />
}

@Html.ActionLink("Назад", "All", new { id = Model.Student.Grade.Id }, new { @class = "btn btn-sm btn-default go-back-btn" })