@model SchoolSystem.Models.ViewModels.SchoolDiary.Students.StudentDetailsVm

@{
    ViewBag.Title = "StudentDetails";
}

<h2>Student Details</h2>

@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink("Edit Student Info", "EditStudentInfo", "Teacher", new { id = Model.Id }, null);
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.Value)@Html.DisplayFor(model => model.Grade.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPhone)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to students", "All", new { id = Model.Grade.Id })
</p>
