@model SchoolSystem.Models.ViewModels.SchoolDiary.StudentDetailsVm

@{
    ViewBag.Title = "StudentDetails";
}

<h2>StudentDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absences)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absences)
            @if (Model.Delays != 0)
            {
                <span>
                    and @Html.DisplayFor(model => model.Delays)/3
                </span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to students", "AllStudents", new { id = Model.Grade.Id })
</p>
