@model IEnumerable<SchoolSystem.Models.ViewModels.SchoolDiary.AllStudentsFromGradeVm>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>          
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Marks", "Marks", new { id = item.Id }) |
            @Html.ActionLink("Notes", "Notes", new { id = item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to grades", "Grades")